*{
    box-sizing: border-box;
    margin: 0 auto;
   
}


.container-fluid{
    text-align: center;
    background-image: url(/assets/fondobody.jpg);

}
 
.inputBuscar{
    text-align: center;
    color: black;
    
}
.bloqMedico{
    font-size: 20px;
    color: black; 
    
}

.card-img-top{
    height:15rem;
    
}

.bloqMedico .card{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    box-shadow: -2px 5px 11px 13px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 5px 11px 13px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 11px 13px rgba(0,0,0,0.75);
}
