body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formularioContenedor {
    display: flex;
    margin: 10px;
    height: 500px;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: -1px 4px 10px 1px #000000;
    transition: all 1s ease;
}

.contenedorInformacion{
    display:flex;
    width: 40%;
    align-items: center;
    text-align: center;
    background-color: #000000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.informacion{
    width: 100%;
    padding: 30px;
    color: #333;
}

.informacion h3{
    font-size: 32px;
}

.informacion p{
    margin: 15px 0;
    color: #555;
}

.informacion input{
    border-radius: 25px;
    border: solid 2px;
    padding: 10px 20px;
    box-shadow: -1px 4px 10px 1px #000000;
}

.formularioInformacion {
    display: flex;
    width: 60%;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.formularioInformacionHijo{
    padding: 0 30px;
}

.formularioInformacionHijo h2{
    color: #333;
    font-size: 32px;
}

.formularioInformacionHijo h2{
    color: #555;
}

.iconos {
    margin: 15px 40px;
}

.iconos i{
    cursor: pointer;
    border: solid thin #666;
    border-radius: 50%;
    padding: 15px;
    margin-inline: 20px;
    color: #555;
    transition: background-color 0.3s ease;
}

.iconos i:hover{
    background-color: #c7eef3;
    color: #fff;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius:20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0 ,0 ,0 , .1)
}

.form label input {
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #222;
}

form label i{
    color: #a7a7a7;
    padding-right: 0;
}


@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .informacion h3{
        font-size: 20px;
    }
    .iconos {
        margin: 15px 10px;
    }
    .iconos i {
    margin-inline: 0px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 10px;
    }
    .formularioContenedor{
        height: auto;
        flex-direction: column;
    }
    .contenedorInformacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .formularioInformacion{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }

}