/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.contenedor{
    margin-top: 100px;
}

.navC{
    background-color:  rgb(90, 131, 148);;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.formularioContenedor {
    display: flex;
    margin-top: 100px;
    height: 550px;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: -1px 4px 10px 1px #000000;
    transition: all 1s ease;
}

.contenedorInformacion{
    display:flex;
    width: 40%;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #238ccc;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.informacion{
    width: 100%;
    padding: 30px;
    color: #fff;
}

.informacion h5{
    margin-top: 40px;
}

.informacion h3{
    font-size: 32px;
}

.informacion p{
    margin-top: 20px;
    margin-bottom: 15px;
    color: #fff;
}


.informacion input{
    border-radius: 25px;
    border: solid 2px;
    padding: 5px 10px;
    box-shadow: -1px 4px 10px 1px #000000;
}

.formularioInformacion {
    display: flex;
    width: 60%;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.formularioInformacionHijo{
    padding: 0 30px;
}

.formularioInformacionHijo h2{
    color: #222;
    font-size: 32px;
}

.formularioInformacionHijo h2{
    color: #222;
}

.iconos {
    margin: 15px 40px;
}

.iconos i{
    cursor: pointer;
    border: solid thin #666;
    border-radius: 50%;
    padding: 15px;
    margin-inline: 20px;
    color: #555;
    transition: background-color 0.3s ease;
}

.iconos i:hover{
    background-color: #c7eef3;
}

.iconos .g:hover{
    color: #DB4437;
}

.iconos .f:hover{
    color: #1877F2;
}

.form, .form2{
    margin: 5px 0 0 0;
}

.form label, .form2 label{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius:20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0 ,0 ,0 , .1)
}

.eye{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius:20px;
    padding: 0 10px;
}

.form label input, .form2 label input {
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    border: none;
    outline: none;
    color: #222;
}

form label i, form label i {
    color: #a8a8a8;
    padding-right: 0;
}

.sinContraseña {
    font-size: 12px;
    text-decoration: none;
    text-align: right;;
}

 /* .eye {
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('eye-open.png');  
    background-size: cover;
    cursor: pointer;
} */


.hide {
    position: absolute;
    transform: translateY(-300%);
}

footer{
    position: relative;
    bottom: 0;
}

.bgC{
    background-color:  rgb(90, 131, 148);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.subtitulosC{
    font-weight: 400;
    font-size: medium;
}

.headerFondo{
    background-image: url("./assets/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bgFooterC{
    background-color: rgb(1, 1, 54);
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .informacion h3{
        font-size: 20px;
    }
    .iconos {
        margin: 15px 10px;
    }
    .iconos i {
    margin-inline: 0px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 10px;
    }
    .formularioContenedor{
        height: auto;
        flex-direction: column;
    }
    .contenedorInformacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .formularioInformacion{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}
